In [2]:
# https://leetcode.com/problems/calculate-special-bonus/description/

In [1]:
import pandas as pd
import numpy as np

def calculate_special_bonus(employees: pd.DataFrame) -> pd.DataFrame:
    """
    Calculate bonus for each employee:
    - If employee_id is odd AND name does NOT start with 'M', bonus = salary.
    - Otherwise, bonus = 0.
    """
    employees = employees.copy()  # Avoid modifying the original DataFrame
    employees['bonus'] = np.where(
        (employees['employee_id'] % 2 == 1) &
        (~employees['name'].str.startswith('M')),
        employees['salary'],
        0
    )
    return employees[['employee_id', 'bonus']].sort_values(by='employee_id')

if __name__ == "__main__":
    # Example 1 data
    employees_data = [
        {"employee_id": 2, "name": "Meir",    "salary": 3000},
        {"employee_id": 3, "name": "Michael", "salary": 3800},
        {"employee_id": 7, "name": "Addilyn", "salary": 7400},
        {"employee_id": 8, "name": "Juan",    "salary": 6100},
        {"employee_id": 9, "name": "Kannon",  "salary": 7700},
    ]
    employees_df = pd.DataFrame(employees_data)

    # Calculate bonuses
    result_df = calculate_special_bonus(employees_df)

    # Print the result
    print(result_df)

    # Expected output:
    #    employee_id  bonus
    # 0            2      0
    # 1            3      0
    # 2            7   7400
    # 3            8      0
    # 4            9   7700

   employee_id  bonus
0            2      0
1            3      0
2            7   7400
3            8      0
4            9   7700