In [2]:
# https://leetcode.com/problems/second-highest-salary/description/

In [1]:
import pandas as pd

def second_highest_salary(employee: pd.DataFrame) -> pd.DataFrame:
    """
    Return the second highest distinct salary, or None if it doesn't exist.
    """
    # 1. Drop duplicates and sort salaries descending
    distinct_salaries = (
        employee["salary"]
        .drop_duplicates()
        .sort_values(ascending=False)
        .reset_index(drop=True)
    )
    # 2. Pick the second item if available
    if len(distinct_salaries) < 2:
        second = None
    else:
        second = distinct_salaries.iloc[1]
    # 3. Return a DataFrame with the required column name
    return pd.DataFrame({"SecondHighestSalary": [second]})

if __name__ == "__main__":
    # Example 1
    df1 = pd.DataFrame({
        "id":     [1, 2, 3],
        "salary": [100, 200, 300]
    })
    print("Example 1 result:")
    print(second_highest_salary(df1))  # Expected: 200

    # Example 2
    df2 = pd.DataFrame({
        "id":     [1],
        "salary": [100]
    })
    print("\nExample 2 result:")
    print(second_highest_salary(df2))  # Expected: None (null)

Example 1 result:
   SecondHighestSalary
0                  200

Example 2 result:
  SecondHighestSalary
0                None